<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
  <h2>Add User</h2>
  <form th:action="@{/users/add}" th:object="${user}" method="post">
    <fieldset>
      <legend>User Info</legend>
      <p>
        <label th:for="name">Name</label>
        <input type="text" name="name" th:id="name" th:value="${user.getName()}">
      </p>
      <p>
        <label th:for="lastName">Last Name</label>
        <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}"><br/>
      </p>
      <p>
        <label th:for="age">Age</label>
        <input type="text" name="age" th:id="age" th:value="${user.getAge()}"><br/>
      </p>
    </fieldset>
    <button type="submit">Save User</button>
  </form>
  <br/>
  <form th:action="@{/}">
    <button type="submit" class="btn btn-outline-danger">Back</button>
  </form>
</body>
</html>